@inherits LayoutComponentBase

<MudThemeProvider Theme="@_theme" IsDarkMode="true" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="1" Style="z-index: 1200;">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudIcon Icon="@Icons.Material.Filled.Balance" Title="Favorite" />
        <MudText Typo="Typo.h5" Class="ml-3">Stanton Finance</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
    <MudDrawer id="nav-drawer" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2" Style="z-index: 1100;">
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="pt-16 pa-4">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool _drawerOpen = true;
    private MudTheme? _theme = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _theme = new()
        {
            PaletteDark = _darkPalette,
            LayoutProperties = new LayoutProperties()
        };
    }

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private readonly PaletteDark _darkPalette = new()
    {
        Primary = "#4a86ff",

        // Backgrounds
        Surface = "#10101A",
        Background = "#0A0A14",
        BackgroundGray = "#12121B",

        // AppBar
        AppbarText = "#FFFFFF",
        AppbarBackground = "#3A6EEB",

        // Drawer
        DrawerBackground = "#161B22",
        DrawerIcon = "#FFFFFF",
        DrawerText = "#FFFFFF",

        // Actions
        ActionDefault = "#4a86ff",
        ActionDisabled = "#FFFFFF4D", 
        ActionDisabledBackground = "#4a86ff33",

        // Text
        TextPrimary = "#F1F1F1",
        TextSecondary = "#B0B0B0",
        TextDisabled = "#888888",

        // Grays
        GrayLight = "#1A1A1A",
        GrayLighter = "#23232D",

        // Status Colors
        Info = "#4a86ff",
        Success = "#41C77A",
        Warning = "#FFB545",
        Error = "#FF5C75",

        // Lines
        LinesDefault = "#2D2D2D",
        TableLines = "#2D2D2D",

        // Divider/Overlay
        Divider = "#1C1C24",
        OverlayLight = "rgba(0, 0, 0, 0.5)",
    };

}
